<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @placement.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @placement.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @placement.photo_url, class: 'responsive-img' %>
</p>

<p>
  <strong>Price:</strong>
  <%= @placement.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @placement.address %>
</p>

<%= link_to 'Edit', edit_placement_path(@placement) %> |
<%= link_to 'Back', root_path %>
