<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="center-align">Listing Placements</h1>
  <div class="row">
    <% @placements.each do |placement| %>
      <div class="col s6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag placement.photo_url(:thumb), class: 'responsive-img activator' %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <%= placement.title %>
              <i class="material-icons right">more_vert</i>
            </span>
            <p><%= show_currency(placement.price) %>/day</p>
            <p><%= placement.address %></p>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <%= placement.title %>
              <i class="material-icons right">close</i>
            </span>
            <p><%= placement.description %></p>
          </div>

          <div class="card-action">
            <%= link_to 'Show', placement, class: 'waves-effect waves-light btn-flat' %>
            <%= link_to 'Edit', edit_placement_path(placement), class: 'waves-effect waves-light btn-flat' %>
            <%= link_to 'Destroy', placement, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn-flat' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <div class="section">
    <%= link_to 'New Placement', new_placement_path, class: 'waves-effect waves-light btn' %>
  </div>
</div>
